#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 643px;
  color: white;
  padding: 50px;
  overflow: hidden;
  position: relative;
  background-image: url('./images/bannerBg.png');
}

#banner .text-content {
  max-width: 50%;
}

#banner .hello-text {
  font-size: 28px;
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
}

#banner h1 {
  font-size: 50px;
  margin: 10px 0;
  font-family: "Rajdhani", sans-serif;
  line-height: 55px;
}

#banner .highlight {
  color: #ff2a6d;
  font-size: 40px;
}

#banner .description {
  font-size: 18px;
  margin: 20px 0;
  color: #aaa;
  line-height: 35px;
}

#banner .image-container {
  width: 45%;
  position: relative;
}

#banner .image-container .person-img {
  width: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

#banner .image-container .animatedH2 {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #fff;
  position: absolute;
  left: 5px;
  text-shadow: 0 0 10px #000;
}

#banner .image-container .animatedH2:first-child {
  top: 140px;
  z-index: 0;
  animation: bounceUpDown 3s infinite ease-in-out;
}

#banner .image-container .animatedH2:last-child {
  z-index: 2;
  bottom: 100px;
  -webkit-text-stroke: 2px #ff2a6d;
  color: transparent;
  animation: bounceUpDown 3s infinite ease-in-out;
  animation-delay: 2s;
}

@keyframes bounceUpDown {
  0% {
    transform: translateY(0);
  }

  /* Start Position */
  40% {
    transform: translateY(-20px);
  }

  /* Move Up */
  50% {
    transform: translateY(-20px);
  }

  /* Hold Position */
  60% {
    transform: translateY(-20px);
  }

  /* Hold Position */
  100% {
    transform: translateY(0);
  }

  /* Reset */
}

/* Languages */
#banner .langauesIcons {
  width: 100%;
  height: 100%;
  top: 60px;
  left: 50px;
  position: absolute;
  z-index: -1;
}

#banner .langauesIcons .icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  position: relative;
  filter: drop-shadow(0px 0px 10px #ff2a6d);
  transition: transform 0.1s ease-out;
}

#banner .langauesIcons .icon:nth-child(4) {
  width: 50px;
}


/* Languages */

@media (max-width: 1200px) {
  #banner h1 {
    font-size: 45px;
  }

  #banner h1 span.highlight {
    font-size: 35px;
  }

  #banner .description {
    font-size: 16px;
  }

  #banner .image-container .animatedH2 {
    font-size: 32px;
  }
}

@media (max-width: 1100px) {
  #banner .image-container .animatedH2 {
    font-size: 29px;
  }

  #banner h1 {
    font-size: 43px;
  }
}

@media (max-width: 991px) {
  #banner {
    padding: 20px;
  }

  #banner h1 {
    font-size: 34px;
    line-height: 35px;
  }

  #banner .description {
    font-size: 15px;
  }

  #banner h1 span.highlight {
    font-size: 30px;
  }

  #banner .image-container .animatedH2 {
    font-size: 25px;
  }

  #banner .langauesIcons {
    left: 16px;
  }
}

@media (max-width: 650px) {
  #banner .text-content {
    max-width: 100%;
  }

  #banner .image-container {
    display: none;
  }

  #banner .langauesIcons {
    /* left: 30px; */
    top: 100px;
  }

  #banner .langauesIcons .icon {
    width: 30px;
    height: 30px;
  }

  #banner .langauesIcons .icon:nth-child(4) {
    width: 38px;
  }
}

@media (max-width: 450px) {
  #banner .langauesIcons {
    top: 80px;
  }

  #banner h1 {
    font-size: 30px;
  }

  #banner h1 span.highlight {
    font-size: 24px;
  }

  .portfolio-btn {
    width: 100px;
    height: 45px;
  }

  #banner h1 span.highlight {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .portfolio-btn {
    width: 100px;
    height: 45px;
  }
}

@media (max-width: 300px) {
  #banner .description {
    line-height: 26px;
  }
}