#project {
  padding: 30px 0;
}

#project .project-heading {
  padding: 10px 50px;
  border: none;
  border-top: 1px solid #ff2a6e;
  border-bottom: 1px solid #ff2a6e;
  margin: 20px 0;
  text-shadow: 0 0 10px #000;
}

#project .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 30px;
  padding: 20px 0;
}

/* Project Card Styles */
.projectCard {
  width: 290px;
  border-radius: 10px;
  height: 100%;
}

.projectImgContainer {
  position: relative;
  width: 100%;
  /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.projectImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.projectContent {
  background-color: #000;
  padding: 1rem;
  border-radius: 10px;
  height: auto;
  position: relative;
  top: -5px;
  z-index: 100;
  border: 1px solid #ff014f;
}

.projectContent h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 20px;
}

.projectDescription {
  color: #bac5ce;
  font-size: 13px;
  line-height: 1.3;
  margin: 5px 0;
}

.projectCard .linksBtns {
  margin-top: 5px;
}

.projectCard .link-btn,
.projectCard button {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px 1px #ff014f;
  transition: all 0.4s;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 13px;
}

.projectCard .link-btn:hover {
  background-color: #ff014f;
}

.projectCard .stackBtns button {
  background-color: #ff014f;
  font-size: 12px;
}

/* ............  Image take full width and height  ........ */
/* Image Modal Styles */
.image-modal {
  position: fixed;
  top: 0;
  right: -9%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  cursor: pointer;
  transition: all 0.3s;
}

.modal-content {
  position: relative;
  max-width: 80%;
  max-height: 90%;
}

.image-modal img {
  max-width: 100%;
  object-fit: contain;
}

.close-btn {
  position: absolute;
  top: -50px;
  right: 0;
  color: white;
  font-size: 40px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

/* Make project images clickable */
.projectImgContainer {
  cursor: pointer;
  transition: transform 0.3s;
}

.projectImgContainer:hover {
  transform: scale(1.02);
}

.projectImgContainer {
  width: 100%;
  height: 150px; /* sab images ki same height */
  overflow: hidden;
  border-radius: 12px;
}

.projectImg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* image crop hogi but stretch nahi hogi */
  display: block;
}

@media (max-width: 850px) {
  .modal-content {
    max-width: 98%;
    max-height: 90%;
  }
  .image-modal {
    right: 0;
  }
}

@media (max-width: 400px) {
  .projectCard {
    width: 280px;
  }
}
